In [1]:
import pandas as pd

In [2]:
default_data = pd.read_csv('../Data Sets/Default.csv')

In [4]:
default_data.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [5]:
default_data['default'].unique()

array(['No', 'Yes'], dtype=object)

In [6]:
X_balance = default_data[['balance']]

In [7]:
X_balance.head()

       balance
0   729.526495
1   817.180407
2  1073.549164
3   529.250605
4   785.655883

In [8]:
y = default_data['default']

In [9]:
y.head()

0    No
1    No
2    No
3    No
4    No
Name: default, dtype: object

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
model_balance = LogisticRegression()

In [13]:
model_balance.fit(X_balance, y)

LogisticRegression()

In [14]:
model_balance.intercept_

array([-10.65132824])

In [15]:
model_balance.coef_

array([[0.00549892]])

In [16]:
unseen_X_balance = pd.DataFrame({
    'balance': [1000, 2000]
})

In [17]:
unseen_X_balance

   balance
0     1000
1     2000

In [18]:
predictions_balance = model_balance.predict(unseen_X_balance)

In [19]:
predictions_balance

array(['No', 'Yes'], dtype=object)

In [20]:
prediction_probablities_balance = model_balance.predict_proba(unseen_X_balance)

In [21]:
prediction_probablities_balance

array([[0.99424785, 0.00575215],
       [0.41423073, 0.58576927]])

In [22]:
model_balance.classes_

array(['No', 'Yes'], dtype=object)

In [24]:
pd.concat(
    [
        unseen_X_balance,
        pd.DataFrame(prediction_probablities_balance, columns=['p(No)', 'p(Yes)']),
        pd.DataFrame(predictions_balance, columns=['Predictions'])
    ],
    axis=1
)

   balance     p(No)    p(Yes) Predictions
0     1000  0.994248  0.005752          No
1     2000  0.414231  0.585769         Yes

In [30]:
default_data['student'] = default_data['student'].map({'Yes': 1, 'No': 0})

In [31]:
default_data.head()

  default  student      balance        income
0      No        0   729.526495  44361.625074
1      No        1   817.180407  12106.134700
2      No        0  1073.549164  31767.138947
3      No        0   529.250605  35704.493935
4      No        0   785.655883  38463.495879

In [32]:
X_student = default_data[['student']]

In [33]:
X_student.head()

   student
0        0
1        1
2        0
3        0
4        0

In [34]:
model_student = LogisticRegression()

In [35]:
model_student.fit(X_student, y)

LogisticRegression()

In [36]:
model_student.intercept_

array([-3.50213253])

In [37]:
model_student.coef_

array([[0.39960123]])

In [38]:
unseen_X_student = pd.DataFrame({'student': [1, 0]})

In [39]:
predictions_student = model_student.predict(unseen_X_student)

In [40]:
predictions_student

array(['No', 'No'], dtype=object)

In [41]:
prediction_probablities_student = model_student.predict_proba(unseen_X_student)

In [42]:
prediction_probablities_student

array([[0.95699704, 0.04300296],
       [0.97074839, 0.02925161]])

In [43]:
model_student.classes_

array(['No', 'Yes'], dtype=object)

In [44]:
pd.concat(
    [
        unseen_X_student,
        pd.DataFrame(prediction_probablities_student, columns=['p(No)', 'p(Yes)']),
        pd.DataFrame(predictions_student, columns=['Predictions'])
    ],
    axis=1
)

   student     p(No)    p(Yes) Predictions
0        1  0.956997  0.043003          No
1        0  0.970748  0.029252          No

In [45]:
import statsmodels.api as sm

In [46]:
X_balance.head()

       balance
0   729.526495
1   817.180407
2  1073.549164
3   529.250605
4   785.655883

In [49]:
y = y.map({'Yes': 1, 'No': 0})

In [50]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: default, dtype: int64

In [51]:
sm_model_balance = sm.Logit(y, sm.add_constant(X_balance)).fit()

Optimization terminated successfully.
         Current function value: 0.079823
         Iterations 10

In [52]:
print(sm_model_balance.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                default   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9998
Method:                           MLE   Df Model:                            1
Date:                Sun, 13 Apr 2025   Pseudo R-squ.:                  0.4534
Time:                        16:57:40   Log-Likelihood:                -798.23
converged:                       True   LL-Null:                       -1460.3
Covariance Type:            nonrobust   LLR p-value:                6.233e-290
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -10.6513      0.361    -29.491      0.000     -11.359      -9.943
balance        0.0055      0.000     24.952      0.000       0.005       0.006
==============================================================================

Possibly complete quasi-separation: A fraction 0.13 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.