In [1]:
import pandas as pd

In [2]:
credit_data = pd.read_csv('../Data Sets/Credit.csv')

In [3]:
credit_data.head()

,Income,Limit,Rating,Cards,Age,Education,Own,Student,Married,Region,Balance
0,14.891,3606,283,2,34,11,No,No,Yes,South,333
1,106.025,6645,483,3,82,15,Yes,Yes,Yes,West,903
2,104.593,7075,514,4,71,11,No,No,No,West,580
3,148.924,9504,681,3,36,11,Yes,No,No,West,964
4,55.882,4897,357,2,68,16,No,No,Yes,South,331

In [4]:
credit_data['Own'].value_counts()

Own
Yes    207
No     193
Name: count, dtype: int64

In [8]:
credit_data_encoded = pd.get_dummies(data=credit_data, columns=['Own'], drop_first=True)

In [9]:
credit_data_encoded.head()

,Income,Limit,Rating,Cards,Age,Education,Student,Married,Region,Balance,Own_Yes
0,14.891,3606,283,2,34,11,No,Yes,South,333,False
1,106.025,6645,483,3,82,15,Yes,Yes,West,903,True
2,104.593,7075,514,4,71,11,No,No,West,580,False
3,148.924,9504,681,3,36,11,No,No,West,964,True
4,55.882,4897,357,2,68,16,No,Yes,South,331,False

In [17]:
X = credit_data_encoded[['Own_Yes']]

In [18]:
X.head()

   Own_Yes
0    False
1     True
2    False
3     True
4    False

In [12]:
y = credit_data_encoded['Balance']

In [13]:
y.head()

0    333
1    903
2    580
3    964
4    331
Name: Balance, dtype: int64

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()

In [19]:
model.fit(X, y)

LinearRegression()

In [28]:
509.8031088082901 + 19.73312308

529.5362318882901

In [20]:
model.intercept_

509.8031088082901

In [21]:
model.coef_

array([19.73312308])

In [22]:
unseen_X = pd.DataFrame(data=[True, True, False], columns=X.columns)

In [23]:
unseen_X

   Own_Yes
0     True
1     True
2    False

In [24]:
predictions = model.predict(unseen_X)

In [25]:
predictions

array([529.53623188, 529.53623188, 509.80310881])

In [27]:
pd.concat([unseen_X, pd.DataFrame(predictions, columns=['Predictions'])], axis=1)

   Own_Yes  Predictions
0     True   529.536232
1     True   529.536232
2    False   509.803109

Qualitative predictors with more than two levels

In [29]:
credit_data['Region'].value_counts()

Region
South    199
West     102
East      99
Name: count, dtype: int64

In [33]:
credit_data_encoded = pd.get_dummies(data=credit_data, columns=['Region'], drop_first=True)

In [34]:
credit_data_encoded.head()

,Income,Limit,Rating,Cards,Age,Education,Own,Student,Married,Balance,Region_South,Region_West
0,14.891,3606,283,2,34,11,No,No,Yes,333,True,False
1,106.025,6645,483,3,82,15,Yes,Yes,Yes,903,False,True
2,104.593,7075,514,4,71,11,No,No,No,580,False,True
3,148.924,9504,681,3,36,11,Yes,No,No,964,False,True
4,55.882,4897,357,2,68,16,No,No,Yes,331,True,False

In [35]:
X = credit_data_encoded[['Region_South', 'Region_West']]

In [36]:
X.head()

   Region_South  Region_West
0          True        False
1         False         True
2         False         True
3         False         True
4          True        False

In [37]:
model = LinearRegression()

In [38]:
model.fit(X, y)

LinearRegression()

In [39]:
model.intercept_

531.0

In [40]:
model.coef_

array([-12.50251256, -18.68627451])

In [43]:
test_data = [[False, True], [True, False], [False, False]]
unseen_X = pd.DataFrame(data=test_data, columns=X.columns)

In [44]:
predictions = model.predict(unseen_X)

In [45]:
predictions

array([512.31372549, 518.49748744, 531.        ])

In [47]:
pd.concat([unseen_X, pd.DataFrame(predictions, columns=['Predictions'])], axis=1)

   Region_South  Region_West  Predictions
0         False         True   512.313725
1          True        False   518.497487
2         False        False   531.000000

In [48]:
531 - 18.68627451

512.31372549

In [49]:
531 - 12.50251256

518.49748744